@media screen and (max-width: 1920px) and (min-width: 1536px) {
  header nav ul {
    margin-left: 300px;
  }
  header .head {
    height: 100vh;
  }
  header .head .head-left {
    padding-top: 250px;
  }
  header .head .head-left h1 {
    font-size: 70px;
    width: 600px;
  }
  header .head .head-left p {
    font-size: 13px;
    margin-left: 5px;
  }
  .contact .contact-center {
    padding-left: 120px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header nav {
    padding-top: 20px;
    margin: 0;
    position: fixed;
    margin-top: 50px;
  }
  header nav img {
    width: 75px;
    height: 40px;
  }
  header nav ul a {
    margin-right: 15px;
  }
  header nav p {
    margin-left: 100px;
  }
  header .head .head-left p {
    width: 450px;
  }
  header .head .head-right {
    background-size: contain;
  }
  .about .left img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  header nav {
    width: 100%;
    margin-top: 15px;
    padding: 10px 25px;
    position: fixed;
  }
  header nav ul {
    margin-left: 70px;
  }
  header nav .con {
    display: none;
  }
  header .head .head-left {
    padding: 200px 25px;
  }
  header .head .head-left h1 {
    font-size: 40px;
  }
  header .head .head-left p {
    width: 350px;
  }
  header .head .head-left a {
    margin-top: 20px;
  }
  header .head .head-right {
    z-index: -1;
  }
  header .head-container .container-top h1 {
    font-size: 30px;
  }
  header .head-container .container-center {
    flex-direction: column;
    align-items: center;
  }
  header .head-container .container-center .con-center-left,
  header .head-container .container-center .con-center-right {
    width: 550px;
    margin-top: 15px;
  }
  .about .about-some {
    padding: 25px;
  }
  .about .left {
    width: 50%;
  }
  .about .left img {
    width: 300px;
  }
  .about .right {
    width: 50%;
  }
  .about .right h1 {
    margin: 0;
  }
  .contact .contact-center .contact-center-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .contact-center .contact-center-top input {
    margin-top: 10px;
  }
  .contact .contact-center .contact-center-bottom textarea {
    width: 650px;
  }
}
@media screen and (max-width: 426px) and (min-width: 375px) {
  header nav {
    margin-top: 0px;
    display: flex;
    padding: 10px 20px;
  }
  header nav .logo {
    width: 60px;
    height: 40px;
  }
  header nav ul {
    display: none;
  }
  header nav p {
    display: inline-block;
  }
  header nav .menu {
    width: 60px;
    height: 40px;
    display: inline-block;
  }
  header .langs {
    transform: translate(282px, 64px);
  }
  header .menus {
    transform: translate(280px, 64px);
  }
  header .head .head-left {
    width: 100%;
    padding: 100px 50px 100px 50px;
  }
  header .head .head-left h1 {
    width: 350px;
    text-align: center;
  }
  header .head .head-left p {
    text-align: center;
  }
  header .head .head-right {
    display: none;
  }
  header .head-container .container-center .con-center-left,
  header .head-container .container-center .con-center-right {
    width: 350px;
  }
  header .head-container .container-center .con-center-left h2,
  header .head-container .container-center .con-center-right h2 {
    font-size: 18px;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .about-some {
    padding: 0;
  }
  .about .left, .about .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .right {
    margin-top: 15px;
    flex-direction: column;
  }
  .about .right h1, .about .right p {
    text-align: center;
  }
  .portfolio .port-center {
    height: 1112px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 37px;
  }
  .portfolio .port-center .port-container {
    display: block;
  }
  .portfolio .port-center .port-container .port-con {
    display: block;
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .blog .blog-bottom {
    flex-direction: column;
    align-items: center;
  }
  .blog .blog-bottom .blog-con {
    margin-bottom: 20px;
  }
  .contact .contact-center .contact-center-top input {
    width: 380px;
    margin-left: 5px;
  }
  .contact .contact-center .contact-center-bottom textarea {
    width: 380px;
  }
}/*# sourceMappingURL=res.css.map */