//    responsive max-width:2560; min-width:1920;

// _________________________________________________________________________________________________________________

 //    responsive max-width:1920; min-width:1561;

@media screen and (max-width: 1920px) and (min-width: 1536px) {

      //    header styling 1920

      header {

            // Navbar styling 1920

            nav {
                  ul {
                        margin-left: 300px;
                  }
            }

            // head styling 1920

            .head {
                  height: 100vh;

                  .head-left {
                        padding-top: 250px;

                        h1 {
                              font-size: 70px;
                              width: 600px;
                        }

                        p {
                              font-size: 13px;
                              margin-left: 5px;
                        }
                  }

            }
      }

      // Contact styling 1920

      .contact {
            .contact-center {
                  padding-left: 120px;
            }
      }
}

// ___________________________________________________________________________________________________________
// ____________________________________________________________________________________________________________


// Responsive 1024

@media screen and (max-width: 1024px) and (min-width: 768px) {

      // header styling 1024

      header {

            // navber styling 1024

            nav {
                  padding-top: 20px;
                  margin: 0;
                  position: fixed;
                  margin-top: 50px;

                  img {
                        width: 75px;
                        height: 40px;
                  }

                  ul {
                        a {
                              margin-right: 15px;
                        }
                  }

                  p {
                        margin-left: 100px;
                  }
            }

            .head {

                  .head-left {
                        p {
                              width: 450px;
                        }
                  }

                  .head-right {
                        background-size: contain;
                  }
            }

      }

      // about styling 1024

      .about {
            .left {
                  img {
                        width: 500px;
                  }
            }
      }
}

// _________________________________________________________________________________________________________________________________________


// media 768px 425px

@media screen and (max-width: 768px) and (min-width: 425px) {

      // header styling 768

      header {

            // navbar styling 768

            nav {
                  width: 100%;
                  margin-top: 15px;
                  padding: 10px 25px;
                  position: fixed;

                  ul {
                        margin-left: 70px;
                  }

                  .con {
                        display: none;
                  }
            }

            // head styling 768

            .head {

                  .head-left {
                        padding: 200px 25px;

                        h1 {
                              font-size: 40px;
                        }

                        p {
                              width: 350px;
                        }

                        a {
                              margin-top: 20px;
                        }
                  }

                  .head-right {
                        z-index: -1;
                  }
            }

            // head container style 768

            .head-container {
                  .container-top {
                        h1 {
                              font-size: 30px;
                        }
                  }

                  .container-center {
                        flex-direction: column;
                        align-items: center;

                        .con-center-left,
                        .con-center-right {
                              width: 550px;
                              margin-top: 15px;
                        }
                  }
            }
      }

      // about style 768

      .about {
            .about-some {
                  padding: 25px;
            }

            .left {
                  width: 50%;

                  img {
                        width: 300px;
                  }
            }

            .right {
                  width: 50%;

                  h1 {
                        margin: 0;
                  }
            }
      }

      // contact style 768

      .contact {
            .contact-center {
                  .contact-center-top{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        input{
                              margin-top: 10px;
                        }
                  }
                  .contact-center-bottom{
                        textarea{
                              width: 650px;
                        }
                  }
            }
      }
}

//  Responsive styles  max-width=425px min-width=375px

@media screen and (max-width:426px) and (min-width:375px) {
      // header styles 425

      body{
            background-color: black;
      }

      header{
            nav{
                  ul{
                        display: none;
                  }
                  p{
                        display: none;
                  }
            }
      }
}